@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToolBox SONDA</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Objetivo general</h2>
        <p>
            Desarrollar una plataforma que permita acceder a las herramientas, 
            programas e información necesaria para los colaboradores de sonda 
            facilitado la atención a los clientes de los diferentes proyectos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Objetivos específicos  </h2>
        <ul>Obtener información de la distribución y capacitación de las herramientas y/o programas que se utilizar para dar soporte Ecopetrol.</ul>
        <ul>Crear un portal web donde los usuarios pueda registrarse y acceder a las herramientas.</ul>
        <ul>Almacenar y distribuir información de las herramientas y/o programa.</ul>
    </div>
    <div class="col-md-4">
        <h2>Alcance</h2>
        <p>
            Elaborar y ejecutar una plataforma piloto donde los colaboradores de sonda 
            en el proyecto Ecopetrol puedan acceder, consultar y compartir herramientas y/o programas.
        </p>
    </div>
</div>