/ToolBox/target/
/prueba/target/
/ToolBox1.0/nbproject/private/
/ToolBox1.0/build/
/PROYECTO/build/
/PROYECTO/nbproject/private/
/ToolBox2.0/nbproject/private/
/ToolBox2.0/build/
/ToolBox3.0/nbproject/private/
/ToolBox3.0/build/
/ToolBox3.0/dist/
