<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/13ad104a-9cbe-4f8e-80c9-46f97e73a5b0/resourceGroups/AppTool/providers/Microsoft.Web/sites/ToolBoxSonda</ResourceId>
    <ResourceGroup>AppTool</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://toolboxsonda.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>toolboxsonda.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ToolBoxSonda</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ToolBoxSonda</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ToolBoxEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=servertoolbox.database.windows.net;Initial Catalog=ToolBox;User ID=ADCesarAragon;Password=T0olBox2021" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ToolBox2.Models.ToolBoxEntities, ToolBox2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ToolBoxEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Conexion.csdl|res://*/Models.Conexion.ssdl|res://*/Models.Conexion.msl;provider=System.Data.SqlClient;provider connection string="Data Source=servertoolbox.database.windows.net;Initial Catalog=ToolBox;User ID=ADCesarAragon;Password=T0olBox2021"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>